.box {
    background-color: #6f7277;
    border: 1px solid #0f0fc5;
    /*border-bottom-style: dashed;*/
    color: #fff;
}
.containerLine{
    border: 1px solid #090808;
    color: #fff;
}
.containerColor{
    background-color: #77a3ea;
    color: #fff;
}
.containerPadding{
    padding-top: 50px;
    padding-bottom: 50px;
}